# Main application framework
Django==4.2.5

# YOLOv8 and its dependencies
ultralytics

# Image and video processing
opencv-python-headless
numpy
Pillow

# PyTorch for machine learning (install with the specific command for your CUDA version)

# For non-cuda machines (Uncomment the below three)
# torch
# torchvision
# torchaudio

# For PyTorch cuda 12.1 use (Need to run manually once)
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128